/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.secondary-sidebar {
  display: none;
}
@media (min-width: 768px) {
  .secondary-sidebar {
    position: fixed;
    right: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }

  #sample-list {
    top: 51px;
    bottom: 0;
    height: calc((100% - 51px));
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

#tree-summary {
  display: none;
}

#trees .active, #trees .active td {
  background-color: #428bca;
  color: #fff;
}

#trees tr:hover {
  background-color: white;
}

#trees td, #trees th {
  cursor: pointer;
}

#snippets {
  display: none;
}

#sample-method-filter {
  margin-top: 3em;
}

#global-method-filter {
  margin-top: 1em;
}

.method-selector button {
  opacity: 0.6;
}

.method-selector button.active {
  opacity: 1;
}


#sample-selector-extended .modal-dialog {
  width: 90%;
}

#sample-selector-extended .modal-body {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

#sample-list-extended tbody tr {
  cursor: pointer;
}
